.header{
    height: 32px;
	width: 100%;
	border-bottom: 1px solid #CCC;
	/* background:blue ; */
	font-size: 12px;
	color: #808080;
	line-height: 32px;
}
.header a:hover{   
	color: red;
}


.header-main{
	width: 1200px;
	height: 32px;
	margin: 0  auto;
	/* background: yellow; */
	/* 块元素居中 */
}
.header-right{
	width: 450px;
	height: 32px;
	float: right;
	/* background:red;  */
}
.welcom{
	float: left;
	/* text-align: center; *
	/* margin-right: 19px; */
}
.denglu{
   float:left;
   margin-left: 20px;
}
.login{
   float: left;
}
.fenge{
	float: left;
	margin-left:15px;
	margin-right: 15px; 
}
.register{
    float: right;
}
.dingdan{
	float:left;
	margin-left:14px;
}
.gonggao{
	float: left;
	margin-left:16px;
	line-height: 32px;
}
.guangbo{
	float:left;
	margin-top: 5px;
	margin-right: 9px;

}
.wangzhan{
  float: right;
}
.weibo{
	float: right;
	line-height: 32px;
	
}
.weixin{
	float: left;
	margin-top: 5px;
   margin-right: 2px;
   position: relative;
}
.weibo2{
	float: right;
	margin-top:5px;
}
.erweima{
	width:150px;
	height:170px;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 1000;
    border:1px solid #ccc;
    display: none;
}
.erweima img{
	width: 100%;
	height: 100%;
}
.sousuo{
	width: 1200px;
	height: 116px;
	margin: 0 auto;
	/* background:#cc66cc; */
}
.sankuang{
	width: 438px;
	height: 29px;
	float: right;
	/* background: blue; */
	margin-top: 28px;
}

.shopping{
    width: 107px;
    height: 29px;
    float: right;
    /* background: red; */
    background-image: url('../img/vanclsprite.png');
    background-position:-153px 0px ;
    position: relative;
    z-index: 1000;

}
.shopping span{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
	color: #ffffff;
}
.shopping:hover{
  	background-image:url('../img/vanclsprite.png') ;
	background-position:-153px -29px;
	border-bottom:1px solid #fff ;
	border-top:1px solid #B81B22;
	border-left:1px solid #B81B22;
	border-right:1px solid #B81B22;
}
.shopping:hover span{
	color:red ;
}
.gouwutishi{
	width:327px;
	height:25px;
	position: absolute;
	top:29px;
	right: 0;
	background: #fff;
	border: 1px solid #B81B22;
	font-size:14px;
    line-height: 25px;
    display: none;
}
.resou1{
	width: 1200px;
	height: 12px;
	margin-top: 8px;
	float:left; 

}
.remen{
	float: right;
	width:445px;
    line-height: 12px;
    color: #7D7C7C  ;
    font-size: 12px;
}
.resou{
	float: left;
  	margin-right: 13px;
}
.miantang{
	margin-right:11px; 
	float: left;   
}
.daohang{
	width: 1200px;
	margin: 0 auto;
	height: 71px;	
}
.fanke{
	width:232px;
	height:71px;
	float: left;
}
.fenlei{
    width:968px;
    height: 71px;
    float: right;
	line-height: 71px;
	color:#7295BB ;
	/* overflow: hidden; */
	text-align: center;
}
.shouye{
	width:79px;
	height: 71px;
	line-height: 71px;
	color:#7295BB ;
	float: left;
}
.list{
	width: 872px;
	height: 71px;
	line-height: 71px;
    float: right;
    display: flex;
    justify-content: space-between;
}
.list li{
	width:96px;
	height: 71px;
	position: relative;
}
.list li .seclist{
    width:96px;
    height:0;
    position:absolute;
    left:0;
    top:50px;
    overflow: hidden;
    background: #fff;
    transition: all .8s;
    z-index: 1000;
    font-size:16px;
    color: #727171;
}
.seclist .top{
    width:96px;
    height:8px;
    border-top:3px solid #B81B22;
}
.seclist li:not(.top){
    width:100%;
    height:40px;
    line-height: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}



.banner{
	width: 1200px;
	margin: 0 auto;
}
.fix{
	float: right;
	position: fixed;
    right: 0px;
	bottom: 50px;
}
.fix .fhui{
	width: 75px;
	height:55px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.lunbo{
	width: 1200px;
	height:535px;
	/* overflow: hidden; */
	position:relative;
	margin: 0 auto;
}
.banner-tu{
	width: 1200px;
	height:535px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.bannertu{
	width: 1200px;
	height:535px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.bannertu li{
	width: 1200px;
	height:535px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 1s;
	opacity: 0;
}
.bannertu li:nth-child(1){
	z-index: 1;
	opacity: 1;
}
.bannertu li img{
	width: 100%;
	height: 100%;
}
.zuojian{
	width:18px ;
    height:53px ;
    position: absolute;
    left:13px ;
    top: 286px;
    background-image: url('../img/focus_lr0918.png')
}
.youjian{
   width: 18px;
   height:53px ;
   position: absolute;
   right:13px ;
   top: 292px;
    background-image: url('../img/focus_lr0918.png');
    background-position:-60px -6px ;
   
   
}   
.dian{
     width:112px;
    height: 12px;
    margin: 0 auto;
    position:absolute;
    bottom: 23px;
    right: 560px;
    
}
.circle{
    width:12px;
    height: 12px;
    background:#dddddd ;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
	cursor:pointer;
}
.banzi{
    line-height: 17px;
	color:#9A9A9A;
	text-align: center;
	margin-top: 68px;
	margin-bottom: 45px;
}
.tupian{
  width: 1200px;
  margin: 0 auto;
}
.tu4{
	margin-right: 15px;
	margin-bottom:15px ;
	float: left;
}
.tu5{
	margin-bottom:15px ;
}
.tuzi{
	line-height: 17px;
	text-align: center;
	margin-top: 64px;
	margin-bottom:45px;
	color: #9AA7BF;
}
.lasttu2{
    width: 1200px;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
}
.tuzuo{
  float: left;
   width: 590px;
	height: 509px;
}
.zuo-bottom{
	width: 590px;
	height: 50px;
	font-size: 13px;
	color: #333333;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.left-bottom-zuo{
	float: left;
	margin-top: 18px;
}
.left-bottom-you{
	float: right;
	margin-top: 18px;
}
.middle{
	width: 290px;
	height: 509px;
    float: left;
    margin-left: 16px;
}
.middle-zhong{
	font-size: 13px;
	width: 290px;
	height: 50px;
	color: #333333;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.middle-top-zuo{
	float: left;
	margin-top: 15px;
}
.middle-top-you{
	float: right;
	margin-top: 15px;
}
.middle-bottom{
	margin-top: 31px;	
}
.middle-xia{
    font-size: 13px;
	width: 290px;
	height: 52px;
	color: #333333;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}

.middle-bottom-zuo{
	float: left;
	margin-top: 19px;
}
.middle-bottom-you{
	float: right;
	margin-top: 19px;
}
.you{
   float: right;
}
.you-top{
	height: 440px;
}
.you-bottom{
	float: right;
	height: 54px;
	width: 286px;
	font-size: 13px;
	color: #333333;
	border-bottom: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
}
.you-bottom-zuo{
	float: left;
	margin-top: 20px;
}
.you-bottom-you{
	float: right;
	margin-top: 20px;
}
.right-bottom-you{
	float: right;
	margin-top: 20px;
}
.last{
	width: 1200px;
	height: 280px;
	margin:0 auto;
	border: 1px solid #e0e0e1;
	margin-top: 30px;
}

.on{
	float: left;
	margin-top: 20px;
	padding:30px 120px 0px 90px; 
	border-right: 1px solid #e0e0e1;	
}
.sev{
	float: left;
	margin-top: 20px;
	padding:30px 120px 0px 90px; 
	border-right: 1px solid #e0e0e1;	
}
.saoyisao{
	padding-top: 40px;
	padding-left: 120px;
}
.zi1{
	color: #323232;
	float: right;
	background: #f8f8f8;
	padding : 10px;
	margin-right: 60px;
	margin-top: 20px;

}
.zi1 div{
	float: right;
	padding-right: 50px;

}
.zi1 .b{
	border-right: 1px solid #e0e0e1;
	margin-right: 65px;
}
.last{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	border-top: 1px solid #30353b;
	margin-top: 50px;
	overflow: hidden;
}
.wenzi{
	font-size: 10px;
	color: #323232;
	text-align: center;
	margin-top: 10px;
}
.wenzi1{
	font-size: 10px;
	color: #323232;
	text-align: center;
	margin-top: 20px;
}
.last-tp img{
	width: 90px;
	height: 45px;
	margin-top: 34px;
}
.ltp1{
	margin-left: 280px;
}